
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Disclaimer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="no-bg-image">
<p>Um euch das bestmögliche Gesprächsergebnis zu garantieren, achtet bitte zu eurer eigenen Sicherheit auf folgende Punkte:</p>

<p>Bei DosenTelefon handelt es sich um einen GesprächsClienten, der Privatpersonen für kurze Gespräche miteinander verbindet. Es ist keine psychosoziale Beratung und stellt keine Therapiemöglichkeit da. Bitte verhaltet euch dementsprechend.
  DosenTelefon erhebt von euch nur die Daten, die notwendig sind, um euch mit einem Gesprächspartner zu verbinden. Bitte gebt keine privaten Daten an euren Gesprächspartner weiter, wie zum Beispiel eure Adresse oder eure Telefonnummer.</p>

  <p>Dass DosenTelefon gut funktionieren kann, hängt vor allem von euch ab! Haltet euch an normale Verhaltensregeln und geht so mit anderen Personen um, wie ihr das auch im realen Leben tun würdet. Werdet nicht unhöflich oder aufdringlich. Eure Gesprächsanteile sollten gleichberechtigt verteilt sein, lasst eure Dialogpartner ausreden und hört ihnen aktiv und interessiert zu. Vermeidet bitte die Bewertung von persönlichen Einstellungen.</p>

<p>Außerdem unterstützt DosenTelefon nicht das Verbreiten von Inhalten, welche rassistisch, sexistisch, homophob, xenophob, ableistisch oder in anderer Weise ausgrenzend sind. Verstöße gegen unserer Gesprächs- und Verhaltensnormen könnt ihr über den Button “Verstoß melden” sowohl während als auch direkt nach eines Gespräches anzeigen, unser Support-Team kümmert sich dann darum. Bei mehrmaligen Verstößen behalten wir uns vor, Telefon-Nummern und IP-Adressen zu sperren.</p>

<p>Wenn Du dich in einer seelischen Notlage befindest oder therapeutische Gesprächsunterstützung benötigst empfehlen wir dir diese Rufnummern:</p>

<p>Bundesweite Telefonseelsorge:</p>

<p><b>0800/111 0 111 </b></p>

<p><b>0800/111 0 222 </b></p>

<p><b>116 123</b></p>

</ion-content>
