<ion-header>
  <ion-toolbar>
    <ion-title>Anruf mit {{partner}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="notification-button" (click)="onDeckChangeClick($event)">
        <ion-badge color="secondary" class="notification-badge">{{decks.length}}</ion-badge>
        <ion-icon slot="icon-only" name="albums-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-select #selectionList interface="action-sheet" mode="ios" (ionChange)="onSelectionChange($event)">
    <ion-select-option *ngFor="let deck of decks">{{deck.title}}</ion-select-option>
  </ion-select>


  <ion-card *ngIf="activeTitle">
    <ion-card-header>
      <ion-card-title>Neue Frage:</ion-card-title>
      <ion-card-subtitle>Deck: {{decks[activeDeckIndex].title}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{activeTitle}}
    </ion-card-content>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="hang-up-button">
    <ion-fab-button color="danger">
      <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="newCard">
    <ion-button expand="full" color="secondary" [disabled]="decks[activeDeckIndex].cards.length == 0" (click)="onNewCardClick()">Neue Karte</ion-button>
  </div>
  <!--<div *ngIf="decks">
    <div *ngIf="decks.length == 2">
      <table>
        <tr>
          <td class="button1">
            <mat-icon name="happy-outline"></mat-icon>
          </td>
          <td></td>
          <td class="button2">

          </td>
        </tr>
      </table>
    </div>
  </div>-->


</ion-content>
