.notification-button {
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}
.notification-badge {
    background-color: red;
            position: absolute;
            top: -8px;
            right: -8px;
            border-radius: 100%;
}

.timer-row {
    width: 100%;
    .badge {
        margin-top: 4vh;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        ion-badge {
            transform: scale(2);
        }
    }
}

ion-select{
    position: absolute;
    display: none !important;
    .select-icon, .select-text {
        display: none !important;
    }
}

table {
    margin-top: 55%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    tr {
        width: 100%;
        border: 1px solid black;
        
        .button1, .button2 {
            height: 145px;
            width: 145px;
            border: 1px solid black;
        }
        .button1 {
            background-color: red;
        }
        .button2{
            background-color: green;
        }
    }
}

.hang-up-button {
    transform: rotate(135deg);
    bottom: 60px;
}

ion-card {
    margin-top: 45%;
}

.newCard {
    width: 100%;
    position: absolute;
    bottom: 0px;
}