
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Datenschutz</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="no-bg-image">


  <p><strong>I. Vorbemerkung</strong>
    <br>Wir, das DosenTelefon-Support-Team, nehmen die Belange des Datenschutzes ernst und möchten sicherstellen, dass Ihre Privatsphäre bei der Nutzung unseres Angebotes geschützt wird.
  </p>
  <p>Wir haben daher diese Datenschutzerklärung erstellt, in der wir Ihnen unseren Umgang mit Ihren Daten erläutern.</p>
  <p>Wir behalten uns vor, den Inhalt von Zeit zu Zeit anzupassen. Es empfiehlt sich daher, unsere Erklärung zur Datenverarbeitung in regelmäßigen Abständen erneut zur Kenntnis zu nehmen.</p>
  <p><strong>Zur Struktur der Datenschutzerklärung:</strong>
    <br>Unter II. finden Sie allgemeine Hinweise zum Umfang der Verarbeitung Ihrer personenbezogenen Daten, zur Rechtsgrundlage für die Datenverarbeitung, zur Speicherdauer sowie Löschung und insbesondere zu Ihren Rechten als betroffene Person.
  </p>
  <p>Unter III. halten wir Angaben zu der verantwortlichen Person sowie die Kontaktdaten unseres Datenschutzbeauftragten vor.</p>
  <p>Unter IV. stellen wir dar, welche personenbezogenen Daten bei der Nutzung unserer Website erhoben werden.</p>
  <p>&nbsp;</p>
  <p><strong>II. Allgemeines zur Datenverarbeitung</strong></p>
  <p><u>1. Begriffsbestimmungen</u></p>
  <p>„Personenbezogene Daten“ sind alle Daten, die Angaben über persönliche und sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person enthalten. Dazu zählen beispielsweise der Name, die E-Mail-Adresse, die Wohnadresse, das Geschlecht, das Geburtsdatum, die Telefonnummer oder auch das Alter. Eine Legaldefinition ist in Art. 4 Nr. 1 der Datenschutzgrundverordnung (im Folgenden DS-GVO) zu finden.</p>
  <p>„Verarbeitung“ personenbezogener Daten umfasst u.a. deren Erhebung, Erfassung, Organisation, Ordnung, Speicherung, Anpassung oder Veränderung, Auslesen, Abfragen, Verwendung, Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, Abgleich oder Verknüpfung, Einschränkung, Löschung oder Vernichtung. Eine Legaldefinition ist in Art. 4 Nr. 2 DS-GVO zu finden.</p>
  <p><u>2. Umfang der Verarbeitung personenbezogener Daten</u></p>
  <p>Wir verarbeiten Ihre personenbezogenen Daten nur mit Ihrer Einwilligung oder wenn eine Rechtsvorschrift dies erlaubt.</p>
  <p>Teilweise bedienen wir uns zur Verarbeitung Ihrer Daten externer Dienstleister. Diese wurden von uns sorgfältig ausgewählt und beauftragt, sind an unsere Weisungen gebunden und werden regelmäßig kontrolliert.</p>
  <p><u>3. Rechtsgrundlage für die Verarbeitung personenbezogener Daten</u></p>
  <p>Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der betroffenen Person einholen, dient Art. 6 Abs. 1 S. 1 lit. a DS-GVO als Rechtsgrundlage für die Verarbeitung personenbezogener Daten.</p>
  <p>Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 S. 1 lit. d DS-GVO als Rechtsgrundlage.</p>
  <p>Ist die Verarbeitung zur Wahrung eines berechtigten Interesses von uns oder eines Dritten erforderlich und überwiegen die Interessen, Grundrechte und Grundfreiheiten des Betroffenen das erstgenannte Interesse nicht, so dient Art. 6 Abs. 1 S. 1 lit. f DS-GVO als Rechtsgrundlage für die Verarbeitung.</p>
  <p><u>4. Datenlöschung und Speicherdauer</u></p>
  <p>Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann darüber hinaus dann erfolgen, wenn dies durch den europäischen oder nationalen Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche unterliegt, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen vorgeschrieben Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsschluss oder eine Vertragserfüllung besteht.</p>
  <p><u>5. Rechte der betroffenen Person</u></p>
  <p><strong>a. Überblick</strong>
    <br>Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener i.S.d. DS-GVO.
  </p>
  <p>Sie haben dem Verantwortlichen (wenn die Daten von uns verarbeitet werden also uns) gegenüber folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:</p>
  <ul class="ak-ul" style="margin: 12px 0px 0px; padding: 0px 0px 0px 24px; box-sizing: border-box; list-style-type: disc; display: flow-root; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">
    <li>
      <p>Recht auf Auskunft (Art. 15 DS-GVO),</p>
    </li>
    <li>
      <p>Recht auf Berichtigung oder Löschung (Art. 16, Art. 17 DS-GVO),</p>
    </li>
    <li>
      <p>Recht auf Einschränkung der Verarbeitung (Art. 18 DS-GVO),</p>
    </li>
    <li>
      <p>Recht auf Widerspruch gegen die Verarbeitung (Art. 21 DS-GVO, Einzelheiten siehe unter II. 5. b. dieser Datenschutzerklärung),</p>
    </li>
    <li>
      <p>Recht auf Widerruf der Einwilligung in Datenverarbeitung (Art. 7 Abs. 3 DS-GVO, Einzelheiten siehe unter II. 5. b. dieser Datenschutzerklärung),</p>
    </li>
    <li>
      <p>Recht auf Datenübertragbarkeit (Art. 20 DS-GVO).</p>
    </li>
  </ul>
  <p>Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen Daten durch den Verantwortlichen (wenn die Daten von uns verarbeitet werden also durch uns) zu beschweren (Art. 77 DS-GVO).</p>
  <p><strong>b. Widerspruch oder Widerruf gegen die Verarbeitung Ihrer Daten</strong>
    <br>Falls Sie eine Einwilligung zur Verarbeitung Ihrer Daten erteilt haben, können Sie diese jederzeit widerrufen. Ein solcher Widerruf beeinflusst die Zulässigkeit der Verarbeitung Ihrer personenbezogenen Daten, nachdem Sie ihn uns gegenüber ausgesprochen haben.
  </p>
  <p>Soweit wir die Verarbeitung Ihrer personenbezogenen Daten auf die Interessenabwägung stützen, können Sie Widerspruch gegen die Verarbeitung einlegen. Dies ist der Fall, wenn die Verarbeitung insbesondere nicht zur Erfüllung eines Vertrags mit Ihnen erforderlich ist, was von uns jeweils bei der nachfolgenden Beschreibung der Funktionen dargestellt wird. Bei Ausübung eines solchen Widerspruchs bitten wir um Darlegung der Gründe, weshalb wir Ihre personenbezogenen Daten nicht wie von uns durchgeführt verarbeiten sollen. Im Falles Ihres begründeten Widerspruches prüfen wir die Sachlage und werden entweder die Datenverarbeitung einstellen bzw. anpassen oder Ihnen unsere zwingenden schutzwürdigen Gründe aufzeigen, aufgrund derer wir die Verarbeitung fortführen.</p>
  <p>Selbstverständlich können Sie der Verarbeitung Ihrer personenbezogenen Daten für Zwecke der Werbung und Datenanalyse jederzeit widersprechen.</p>
  <p>Über Ihren (Werbe-) Widerspruch können Sie uns unter den nachfolgend angegebenen Kontaktdaten informieren:</p>
  <p><strong>III. Name und Anschrift des Verantwortlichen</strong>
    <br>Der Verantwortliche im Sinne der DS-GVO und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist:
  </p>
  <p>[Email Support + Ansprechpartner]</p>
  <p><strong>IV. Erhebung personenbezogener Daten bei Besuch unserer Website</strong></p>
  <p><u>1. Informatorische Websitenutzung</u></p>
  <p><strong>a. Beschreibung und Umfang der Datenverarbeitung</strong>
    <br>Bei der bloß informatorischen Nutzung unserer Website, also wenn Sie sich nicht registrieren oder uns anderweitig Informationen übermitteln, erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren Server übermittelt. Diese sind:
  </p>
  <ul class="ak-ul" style="margin: 12px 0px 0px; padding: 0px 0px 0px 24px; box-sizing: border-box; list-style-type: disc; display: flow-root; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">
    <li>
      <p>IP-Adresse</p>
    </li>
    <li>
      <p>Datum und Uhrzeit der Anfrage</p>
    </li>
    <li>
      <p>Zeitzonendifferenz zur Greenwich Mean Time (GMT)</p>
    </li>
    <li>
      <p>Inhalt der Anforderung (konkrete Seite)</p>
    </li>
    <li>
      <p>Zugriffsstatus/HTTP-Statuscode</p>
    </li>
    <li>
      <p>jeweils übertragene Datenmenge</p>
    </li>
    <li>
      <p>Website, von der die Anforderung kommt</p>
    </li>
    <li>
      <p>Browser</p>
    </li>
    <li>
      <p>Betriebssystem und dessen Oberfläche</p>
    </li>
    <li>
      <p>Sprache und Version der Browsersoftware.</p>
    </li>
  </ul>
  <p>Die Daten werden ebenfalls in den Logfiles unseres Systems gespeichert. Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt.</p>
  <p><strong>b. Rechtsgrundlage für die Datenverarbeitung</strong>
    <br>Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO.
  </p>
  <p><strong>c. Zweck der Datenverarbeitung</strong>
    <br>Die voranstehend geschilderte Erhebung personenbezogener Daten beim Besuch unserer Website ist technisch erforderlich, um Ihnen unsere Website anzuzeigen und die Stabilität und Sicherheit zu gewährleisten.
  </p>
  <p>In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 S. 1 lit. f DS-GVO.</p>
  <p><strong>d. Dauer der Speicherung</strong>
    <br>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Im Falle der Erfassung der Daten zur Bereitstellung der Website ist dies der Fall, wenn die jeweilige Sitzung beendet ist.
  </p>
  <p>Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder verfremdet, so dass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.</p>
  <p><strong>e. Widerspruchs- und Beseitigungsmöglichkeiten</strong>
    <br>Da die voranstehend geschilderte Erhebung personenbezogener Daten beim Besuch unserer Website technisch erforderlich ist, um Ihnen unsere Website anzuzeigen und die Stabilität und Sicherheit zu gewährleisten, haben Sie insoweit auch keine Widerspruchsmöglichkeit.
  </p>
  <p><u>2. Einsatz von Cookies</u></p>
  <p><strong>a. Beschreibung und Umfang der Datenverarbeitung</strong>
    <br>Zusätzlich zu den zuvor genannten Daten werden bei Ihrer Nutzung unserer Website Cookies auf Ihrem Rechner gespeichert.
  </p>
  <p>Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrer Festplatte dem von Ihnen verwendeten Browser zugeordnet und gespeichert werden und durch welche der Stelle, die die Cookies setzt (hier durch uns), bestimmte Informationen zufließen.</p>
  <p>Cookies können keine Programme ausführen oder Viren auf Ihren Computer übertragen.</p>
  <p>Es gibt unterschiedliche Arten von Cookies, nämlich:</p>
  <ul class="ak-ul" style="margin: 12px 0px 0px; padding: 0px 0px 0px 24px; box-sizing: border-box; list-style-type: disc; display: flow-root; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">
    <li>
      <p>Transiente Cookies (temporärer Einsatz)</p>
    </li>
    <li>
      <p>Persistente Cookies (zeitlich beschränkter Einsatz)</p>
    </li>
    <li>
      <p>Third-Party-Cookies (von Drittanbietern)</p>
    </li>
    <li>
      <p>Flash-Cookies (dauerhafter Einsatz).</p>
    </li>
  </ul>
  <p>Diese Website nutzt vorgenannte Cookies in folgendem Umfang:</p>
  <ul class="ak-ul" style="margin: 12px 0px 0px; padding: 0px 0px 0px 24px; box-sizing: border-box; list-style-type: disc; display: flow-root; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">
    <li>
      <p>Transiente Cookies werden automatisiert gelöscht, wenn Sie den Browser schließen. Dazu zählen insbesondere die Session-Cookies. Diese speichern eine sogenannte Session-ID, mit welcher sich verschiedene Anfragen Ihres Browser der gemeinsamen Sitzung zuordnen lassen. Dadurch kann Ihr Rechner wiedererkannt werden, wenn Sie auf unsere Website zurückkehren. Die Session-Cookies werden gelöscht, wenn Sie sich ausloggen oder den Browser schließen.</p>
    </li>
    <li>
      <p>Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gelöscht, die sich je nach Cookie unterscheiden kann.</p>
    </li>
  </ul>
  <p>Wir setzen Cookies einerseits ein, um unsere Website nutzerfreundlicher zu gestalten. Einige Elemente unserer Internetseite erfordern es, dass der aufrufende Browser auch nach dem Seitenwechsel identifiziert werden kann. In den diesbezüglich verwandten Cookies werden z.B. Spracheinstellungen oder Log-In-Informationen gespeichert. Andererseits verwenden wir auch Cookies, die eine Analyse des Surfverhaltens der Nutzer unserer Website ermöglichen. Auf diese Weise können z.B. Daten über die eingegebenen Suchbegriffe, die Häufigkeit von Seitenaufrufen oder die Inanspruchnahme von Website-Funktionen übermittelt werden. Die auf diese Weise erhobenen Daten der Nutzer werden durch technische Vorkehrungen pseudonymisiert. Daher ist eine Zuordnung der Daten zum aufrufenden Nutzer nicht mehr möglich. Die Daten werden nicht gemeinsam mit sonstigen personenbezogenen Daten der Nutzer gespeichert.</p>
  <p>Beim Aufruf unserer Website werden die Nutzer durch einen Infobanner über die Verwendung von Cookies informiert und auf diese Datenschutzerklärung (Button „Weitere Informationen“) verwiesen. Es erfolgt auch ein Hinweis darauf, wie die Speicherung von Cookies unterbunden werden kann (Button „Ablehnen“).</p>
  <p><strong>b. Rechtsgrundlage für die Datenverarbeitung</strong>
    <br>Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von Cookies ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO.
  </p>
  <p><strong>c. Zweck der Datenverarbeitung</strong>
    <br>Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung unserer Website für die Nutzer zu vereinfachen. Einige Funktionen unserer Website können ohne den Einsatz von Cookies nicht angeboten werden. Für diese ist es erforderlich, dass der Browser auch nach einem Seitenwechsel wiedererkannt wird. Die durch technisch notwendige Cookies erhobenen Nutzerdaten werden nicht zur Erstellung von Nutzerprofilen verwendet.
  </p>
  <p>Die Verwendung der Analyse-Cookies erfolgt zu dem Zweck, die Qualität unserer Website und ihre Inhalte zu verbessern. Durch die Analyse-Cookies erfahren wir, wie die Website genutzt wird und können so unser Angebot stetig optimieren.</p>
  <p>In diesen Zwecken liegt auch unser berechtigtes Interesse in der Verarbeitung der personenbezogenen Daten nach Art. 6 Abs. 1 S. 1 lit. f DS-GVO.</p>
  <p><strong>d. Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit</strong>
    <br>Da Cookies auf dem Rechner des Nutzers gespeichert werden, haben Sie als Nutzer die volle Kontrolle über die Verwendung der Cookies. Durch eine Änderung der Einstellungen in Ihrem Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder einschränken. Sie können die Übertragung von Cookies auch durch Anklicken des Buttons „Ablehnen“ im Infobanner deaktivieren. Bereits gespeicherte Cookies können jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen. Werden Cookies für unsere Website deaktiviert, können möglicherweise nicht mehr alle Funktionen der Website vollumfänglich genutzt werden.
  </p>
  <p><u>3. Einsatz von AWS</u></p>
  <p><strong>a. Beschreibung und Umfang der Datenverarbeitung</strong>
    <br>Diese Website nutzt den Service von AWS zum Speichern von Email-Adresse und Alias/Nutzername bei Anmeldung in unserem Angebot “DosenTelefon”.
  </p>
  <p><strong>b. Rechtsgrundlage für die Datenverarbeitung</strong>
    <br>Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von AWS ist die DSVO von AWS, welche Sie hier einsehen können: 
    <a class="sc-hIVACf iidwfL" href="https://aws.amazon.com/de/compliance/gdpr-center/" style="color: rgb(0, 82, 204); text-decoration: none;" title="https://aws.amazon.com/de/compliance/gdpr-center/">https://aws.amazon.com/de/compliance/gdpr-center/</a>
  </p>
  <p><strong>c. Zweck der Datenverarbeitung</strong>
    <br>Wir nutzen AWS, um die Nutzung unserer Angebote zu ermöglichen, einerseits durch die Bereitstellung der Login-Emails, und andererseits, um einem Missbrauch des Angebots durch Sperren von Accounts vorzubeugen.
  </p>
  <p>&nbsp;</p>
  <p><strong>d. Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit</strong>
    <br>Die Daten werden gelöscht, sobald sie für unsere Aufzeichnungszwecke nicht mehr benötigt werden. In unserem Fall ist dies nach 60 Tagen der Fall. Sie können die Auswertung einstellen durch Löschung vorhandener Cookies und die Verhinderung der Speicherung von Cookies. Wenn Sie die Speicherung der Cookies verhindern, weisen wir darauf hin, dass Sie gegebenenfalls diese Website nicht vollumfänglich nutzen können. Die Verhinderung der Speicherung von Cookies ist durch die Einstellung in ihrem Browser möglich.
  </p>
  <p><u>4. Kontakt</u></p>
  <p>Für Rückfragen etc. bitte Kontakt via Email: (<a href="mailto:abouse@dosen-telefon.de">abouse@dosen-telefon.de</a>) aufnehmen.</p>

</ion-content>
