.spinner-container {
    width: 100%;
    margin-top: 40%;

    ion-spinner{
        transform: scale(3);
        margin-left: 46%;
    }
}

.button {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.waiting-card {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}