.logindiv {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    max-width: 550px;
    height: 100%;

    .info-text {
        height: 22%;
        margin-top: 12%;
    }

    img {
        max-width: 450px;
        width: 100%;
        margin-top: 20%;
    }

    .buttons {
        position: absolute;
        height: 6vh;
        bottom: 0px;
        width: 83%;
    }
}

ion-content {
    --background: #e3e3e3;
}

.loginfullwidth {
    width: 100%;
}

.logintext {
    color: var(--ion-color-medium);
    text-decoration: none;
    font-size: smaller;
}