<!--<ion-header>
  <ion-toolbar>
    <ion-title>Dosen Telefon</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>

  <ion-card class="waiting-card">
    <ion-card-header>
      <ion-card-title>
        Tipp des Tages
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{waitingStrings[counter]}}
    </ion-card-content>
  </ion-card>

  <div class="spinner-container">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <div class="button">
    <ion-button expand="block" color="danger" (click)="onAbortClick()">Abbrechen</ion-button>
  </div>
</ion-content>
